# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# PyCharm
.idea/
*.iml

# PyInstaller
build/
dist/
*.spec

# Installer output (если собираешь exe установщик)
installer/dist/
installer/*.exe

# Logs
*.log

# System files
.DS_Store
Thumbs.db
